/courses/app_01/__pycache__
/courses/course_commet/__pycache__
/courses_backend/app_01/__pycache__
/courses_backend/course_commet/__pycache__
/courses_backend/.idea
/courses_backend/courses_comment/__pycache__
/courses_frontend/package-lock.json
/courses_backend/app_01/migrations/__pycache__
